*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100vh;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: right;
    gap: 15px;
    padding: 15px;
}






section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}




/* ***********************   Footer  ************************ */
footer {
    padding: 15px;
}


footer div {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    padding: 15px 0;
}

footer ul {
    display: flex;
    gap: 15px;

}